body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: lightgray; /* Dark gray text color */

}
#parkingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed to control horizontal spacing */
}

div {
    box-sizing: border-box;
    flex: 0 0 calc(100% / 15); /* Adjust rowLimit as needed based on your design */
    padding: 10px;
    text-align: center;
    margin: 5px;
    padding-bottom: 300px;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 50px; /* Set a maximum height for the images */
}
h1 {
    color: #0b3460; /* Blue heading color */
    align-self: center ;
    text-align: center;
    /* background-color: white; */
}

/* Add more specific styling based on your design requirements */
