body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  #headertext {
    margin: 0;
  }
  
  .logo-container {
    display: inline-block;
    margin-left: 20px;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  table {
    width: 80%;
    margin: 20px auto; 
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd; 
    text-align: center;
  }
  
  thead {
    background-color: #041e3b;
    color: white;
  }
  
  tbody {
    background-color: white;
  }
  
  img {
    max-width: auto;
    height: auto;

  }
#logoid{
    width: 200px;
    height: auto;
    padding-top: 20px;
}
  